{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{%  trans 'Service Manager' %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.5/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'pages/main.css' %}"/>

    <script src="{% static 'jquery-2.1.4/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap-3.3.5/js/bootstrap.min.js' %}"></script>
</head>
<body class="background-secondary">
    <div  ng-app="searchApp">
        <div class="container" ng-controller="serviceController">
            <div class="row">
                <h1>{% trans 'Service Catalog ' %}</h1>
            </div>
            <div class="row">
                <div class="pull-right col-lg-5">
                    <div class="col-lg-2">
                        <p><a href="/idehco3/universaluser/authentication/index/?next={% url 'pages:personal' %}" class="btn btn-default">{% trans 'sign in' %}</a></p>
                    </div>
                    <div class="col-lg-2">
                        <p><a href="{% url 'pages:signup' %}" class="btn btn-primary">{% trans 'sign up' %}</a></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-7">
                    <div class="row">
                        <h2>{% trans 'Search' %}</h2>
                    </div>
                    <div class="row">
                        <input type="text" class="form-control" placeholder="{% trans 'search for a service or institution' %}"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <h2>{% trans 'Institutions' %}</h2>
                    </div>
                    <div class="row">
                        <div class="well well-lg highlight" ng-repeat="institution in institutions">
                            <div ng-click="openLinks(institution)">
                                <h3>{$ institution.name $} - {$ institution.initials $}</h3>
                                <p>{$ institution.description $}</p>
                            </div>
                            <div ng-if="institution.links && institution.activated">
                                <h4>List of links:</h4>
                                <ul class="list-group">
                                    <li class="list-group-item highlight" ng-repeat="link in institution.links">
                                        <div ng-click="openServices(institution, $index, link)">
                                            <h5><b>{$link.name$}: </b><a href="{$ link.url $}">{$ link.url $}</a></h5>
                                        </div>
                                        <ul class="list-group" ng-if="link.services && link.activated">
                                            <li class="list-group-item highlight" ng-repeat="service in link.services">
                                                <h6><b>{$ service.name $}: </b><a href="{$service.url$}">{$ service.url $}</a></h6>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--
                        <div class="well well-lg highlight">
                            <h3>IBAMA</h3>
                            <p>Cuidando da nossa fauna e flora</p>
                        </div>
                        <div class="well well-lg highlight">
                            <h3>INPE</h3>
                            <p>Trabalhando com novas pesquisas</p>
                        </div>
                        <div class="well well-lg highlight">
                            <h3>ANA</h3>
                            <p>Árvores everywhere</p>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'angular/angular.min.js' %}"></script>
    <script src="{% static 'pages/auth.js' %}"></script>
    <script src="{% static 'pages/main.js' %}"></script>
</body>
</html>