{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{%  trans 'Personal page' %}</title>
        <link rel="stylesheet" href="{% static 'bootstrap-3.3.5/css/bootstrap.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'pages/main.css' %}"/>

        <script src="{% static 'jquery-2.1.4/jquery.min.js' %}"></script>
        <script src="{% static 'bootstrap-3.3.5/js/bootstrap.min.js' %}"></script>
    </head>
    <body class="background-secondary" ng-app="personalApp">
        <div>
            <div class="container" ng-controller="personalController">
                <div class="row">
                    <h1>{$ institution.name $}</h1>
                </div>
                <div class="row">
                    <div class="col-lg-7">
                        <div class="row">
                            <h3>Links of services:</h3>
                            <ul class="list-group">
                                <li class="list-group-item" ng-repeat="link in institution.links">
                                    <b>{$ link.name $} :</b> {$ link.url $}
                                    <button class="pull-right close" ng-click="deleteServiceLink($index, link)">&times;</button>
                                </li>
                            </ul>
                            <div class="input-group">
                                <label>Name</label>
                                <input type="text" class="form-control" ng-model="name" placeholder="Type here the name to the link"/>
                            </div>

                            <div class="">
                                <label>Link</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" ng-model="new_link" placeholder="Type here the link to your API"/>
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" ng-click="addServiceLink()">Add API link</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div>
                                <h3>My remote API:</h3>
                            </div>
                            <div>
                                <div class="input-group" ng-if="container == null">
                                    <input type="text" class="form-control" ng-model="container_name" placeholder="Type here the name to your API"/>
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" ng-click="createAPI()">Create an API</button>
                                    </span>
                                </div>
                            </div>
                            <div ng-if="container != null">
                                <h4>Links:</h4>
                                <ul class="list-group">
                                    <li class="list-group-item"><b>API: </b>{$ container.api_link $}<a class="pull-right close" href="{$ container.api_link $}" ><span class="glyphicon glyphicon-globe"></span></a></li>
                                    <li class="list-group-item"><b>Geonode: </b>{$ container.geonode_link $}<a class="pull-right close" href="{$ container.geonode_link $}"><span class="glyphicon glyphicon-globe"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="{% static 'angular/angular.min.js' %}"></script>
        <script src="{% static 'pages/auth.js' %}"></script>
        <script src="{% static 'pages/personal.js' %}"></script>
    </body>
</html>