{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{%  trans 'Personal page' %}</title>
        <link rel="stylesheet" href="{% static 'bootstrap-3.3.5/css/bootstrap.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'pages/main.css' %}"/>

        <script src="{% static 'jquery-2.1.4/jquery.min.js' %}"></script>
        <script src="{% static 'bootstrap-3.3.5/js/bootstrap.min.js' %}"></script>
    </head>
    <body class="background-secondary" ng-app="personalApp">
        <div>
            <div class="container" ng-controller="personalController">
                <div class="row">
                    <h1>{$ institution.name $}</h1>
                </div>
                <div class="row">
                    <div class="col-lg-7">
                        <div class="row">
                            <h3>Links of services:</h3>
                            <ul class="list-group">

                                <li class="list-group-item" ng-repeat="link in institution.links">{$ link.url $}<button class="pull-right close">&times;</button></li>

                                <li class="list-group-item">http://ibge.org/link1 <button class="pull-right close">&times;</button></li>
                                <li class="list-group-item">http://ibge.org/link2 <button class="pull-right close">&times;</button></li>
                                <li class="list-group-item">http://ibge.org/link3 <button class="pull-right close">&times;</button></li>
                                <li class="list-group-item">http://ibge.org/link4 <button class="pull-right close">&times;</button></li>
                                <li class="list-group-item">http://ibge.org/link5 <button class="pull-right close">&times;</button></li>
                            </ul>
                            <div class="input-group">
                                <input type="text" class="form-control" ng-model="new_link" placeholder="Type here the link to your API"/>
                                <span class="input-group-btn">
                                    <button class="btn btn-default" ng-click="addServiceLink()">Add API link</button>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div>
                                <h3>My remote API:</h3>
                                <button class="btn btn-default">Create an API</button>
                            </div>
                            <div class="hidden">
                                <h4>Links:</h4>
                                <ul class="list-group">
                                    <li class="list-group-item">http://linkto-Geonode/ <button class="pull-right close"><span class="glyphicon glyphicon-globe"></span></button></li>
                                    <li class="list-group-item">http://linkto-my-API/ <button class="pull-right close"><span class="glyphicon glyphicon-globe"></span></button></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="{% static 'angular/angular.min.js' %}"></script>
        <script src="{% static 'pages/auth.js' %}"></script>
        <script src="{% static 'pages/personal.js' %}"></script>
    </body>
</html>